name: ci

on: [workflow_dispatch, push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version: [20.9.0]
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v4.1.6

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install Yarn
        run: npm install -g yarn

      - run: yarn install --frozen-lockfile

      - run: yarn add puppeteer@19.0.0

      - run: yarn run build

      - run: yarn run test
